@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

@import "tailwindcss";

@theme {
  --color-main_background: #f4f6fa;
  --color-main_color: #3a7dff;
  --color-sub_color: #bec9ff;
  --color-border_color: #dcdcdc;
  --color-secondary_text: #6c6c6c;
  --color-primary_text: #1d2e50;
  --color-sub_background: #e9f1fc;
}

body {
  font-family: "Pretendard", sans-serif;
}
